= form_for [:admin, @service] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  .box-body
    .form-group  
      = f.label :title
      = f.text_field :title, :class => "form-control", :placeholder => t("activerecord.attributes.service.title")
    .form-group  
      = f.label :description 
      = f.text_area :description, :class => "form-control tinymce", :placeholder => t("activerecord.attributes.service.title")   
    .form-group
      = f.label :highlight
      = f.check_box :highlight
    .form-group
      = f.label :published
      = f.check_box :published     
    .form-group
      %strong Categoria:
      =f.select(:category_ids, @categories.collect {|category| [ category.title, category.id ] }, {:include_blank=>"Nenhuma"})
    - if @service.service_img.file?
      .form-group
        =image_tag(@service.service_img.url)
    
    .form-group
      %label Selecione os materiais utilizados:
      %br
      - Material.all.each do |m|
        = check_box_tag 'service[material_ids][]', m.id, @service.materials.include?(m)
        = m.title
      
  .box-footer
    =f.submit nil, :class => "btn btn-primary"
    
-content_for :footer do
  = tinymce   
