%section.content-header
  %h1
    Serviços  
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "/admin"}
        %i.fa.fa-dashboard
        Home
    %li.active Serviços
/ Main content
%section.content   
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title="#{@service.title}"
        .box-body
          %p
            %strong= "#{t('activerecord.attributes.service.description')}:"
            %br
            = raw(@service.description)
        .box-body
          %p
            %strong= "#{t('activerecord.attributes.service.published')}:"
            = show_boolean(@service.published)
        - if @service.service_img.file?
          .box-body
            %p=image_tag(@service.service_img.url)
            
        .box-body  
          %p
            %strong Materiais utilizados
            %br
            %ul
              -@service.materials.all.each do |m|
                %li=m.title
        .box-footer
          %p
            = link_to t('edit'), edit_admin_service_path(@service), :class => "btn btn-default"
            = link_to t("back_list"), admin_services_path, :class => "btn btn-default"
            = link_to "Novo Serviço", new_admin_service_path, :class => "btn btn-primary"
            = link_to t("destroy"), [:admin, @service], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger" unless SERVICE_BOX.include?("#{@service.title.to_s}")           
            = link_to t("activerecord.models.service_image"), admin_service_service_images_path(@service.id), :class => "btn btn-success"
