%section.content-header
  %h1
    Imagens do Produto -
    = "#{@product.title}"
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Home
    %li
      %a{:href => "#{admin_products_path()}"}
        %i.fa.fa-dashboard
        Produtos    
    %li.active Imagem do Produto


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title Nova Imagem do Produto
        / /.box-header
        / form start
        = render 'form'
      

      %p
        = link_to t("back_list"), admin_product_product_images_path(@product), :class => "btn btn-default"

