%section.content-header
  %h1
    Serviços  
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "/admin"}
        %i.fa.fa-dashboard
        Home
    %li.active Serviços
/ Main content
%section.content
  .col-xs-12
    %p= link_to "Nova Imagem", new_admin_service_service_image_path(@service), :class => "btn btn-primary"
    
    .box
      .box-header
        %h3.box-title Serviços Cadastrados
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th= "Imagem"
            %th= t("activerecord.attributes.service.title")
            %th= t("activerecord.attributes.service.published")
            %th= t("actions")
            
          - for service_image in @service_images
            %tr
              %td= image_tag(service_image.img_service.url(:thumb)) if service_image.img_service.file?
              %td= service_image.title
              %td= service_image.published
              %td
                = link_to t("show"), [:admin, @service, service_image], :class => "btn btn-default"
                = link_to t("edit"), edit_admin_service_service_image_path(@service.id, service_image.id), :class => "btn btn-default"
                = link_to t("destroy"), [:admin,@service, service_image], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger"

