%section.content-header
  %h1
    Produtos  
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Home
    %li.active Produtos
     

/ Main content
%section.content   
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title="#{@product.title}"
        
        .box-body  
          %p
            %b= "#{t("activerecord.attributes.product.description")}:"
            %br
            = raw @product.description   
        .box-body  
          %p
            %b= "#{t("activerecord.attributes.product.published")}: "
            = show_boolean(@product.published)   
        .box-body
          %p
            %b= "#{t("activerecord.attributes.product.brand")}: "
            = @product.brand
        .box-body
          %p
            %b= "#{t("activerecord.attributes.product.style")}: "
            = @product.style
        .box-body
          %p
            %b= "#{t("activerecord.attributes.product.code")}: "
            = @product.code

  = link_to t("back_list"), admin_products_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_product_path(@product), :class => "btn btn-default" 
  = link_to "Novo Produto", new_admin_product_path, :class => "btn btn-primary"
  /= link_to "Subcategoria de #{@category.title}", admin_category_subcategories_path(@product), :class => "btn btn-success"