= form_for [:admin, @case] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  .box-body
    .form-group
      = f.label :title
      %br
      = f.text_field :title, :class => "form-control", :placeholder => t("activerecord.attributes.case.title")  
    .form-group
      = f.label :subtitle
      %br
      = f.text_field :subtitle, :class => "form-control", :placeholder => t("activerecord.attributes.case.subtitle")  
    .form-group
      = f.label :resume
      %br
      = f.text_area :resume, :class => "form-control tinymce", :placeholder => t("activerecord.attributes.case.resume"), :rows=>2
    .form-group
      = f.label :description
      %br
      = f.text_area :description, :class => "form-control", :placeholder => t("activerecord.attributes.case.description")  
    .form-group
      = f.label :published
      %br
      = f.check_box :published
    .form-group
      =f.label :highlight, "Destaque"
      =f.check_box :highlight, :id=>"destaque"
    .form-group#hide-show{:style=>"display:none"}
      =f.label :order
      =f.number_field :order, :class => "form-control"
    .form-group
      =f.label :main_img, "Imagem Principal"
      =f.file_field :main_img, :class=>"form-control"
    .form-group
      %label Imagens secundárias
      =f.file_field :img1, :class=>"form-control"
      =f.file_field :img2, :class=>"form-control"
      =f.file_field :img3, :class=>"form-control"
  .box-footer
    = f.submit nil, :class => "btn btn-primary"
    
    
-content_for(:footer) do
  = tinymce   
  :javascript
    $("#destaque").on("ifChecked", function(){
      $("#hide-show").show();
    });
    $("#destaque").on("ifUnchecked", function(){
      $("#hide-show").hide();
    });
