%section.content-header
  %h1
    Casos de Sucesso  
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "/admin"}
        %i.fa.fa-dashboard
        Home
    %li.active Casos

%section.content   
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title="#{@case.title}"
        
        .box-body  
          %p
            %strong= "#{t("activerecord.attributes.case.title")}:"
            %br
            = @case.title
        .box-body  
          %p
            %strong= "#{t("activerecord.attributes.case.subtitle")}:"
            %br
            = @case.subtitle
        .box-body  
          %p
            %strong= "#{t("activerecord.attributes.case.description")}:"
            %br
            = @case.description
        .box-body  
          %p
            %strong Materiais utilizados
            %br
            %ul
              -@case.materials.all.each do |m|
                %li=m.title
              
        .box-body  
          %p
            %strong= "#{t("activerecord.attributes.case.published")}:"
            %br
            = show_boolean(@case.published)
        .box-body
          %p
            %strong Imagens(miniatura):
            %br
          .col-md-2
            =image_tag(@case.main_img.url(:thumb)) if @case.main_img.file?
          .col-md-2
            =image_tag(@case.img1.url(:thumb)) if @case.img1.file?
          .col-md-2
            =image_tag(@case.img2.url(:thumb)) if @case.img2.file?
          .col-md-2
            =image_tag(@case.img3.url(:thumb)) if @case.img3.file?
          %br
          %br
          %br
          %br
          %br
          %br
          
  = link_to t("edit"), edit_admin_case_path(@case), :class => "btn btn-default"
  = link_to t("back_list"), admin_cases_path, :class => "btn btn-default"
  = link_to "Novo Caso", new_admin_case_path, :class => "btn btn-primary"
