!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}  
    %title
      = content_for?(:title) ? t("site_name") + " - " + yield(:title) : t("site_name")
    
    %meta{:content => " ", :name => "description"}
    %meta{:content => "", :name => "keywords"}
    %link{:href => "https: //www.checkauto.com.br", :rel => "canonical"}/
    
    / Bootstrap
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Oswald:300,400", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tag
    = stylesheet_link_tag "bootstrap.min.css"
    = stylesheet_link_tag "font-awesome.min.css"
    = stylesheet_link_tag "application.css"
    = stylesheet_link_tag "jquery.fancybox"
    = yield(:head)
    = stylesheet_link_tag "media.query.css"
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>   
  %body
    =render :file => "/layouts/_header.html.haml" 
    =yield        
    =render :file => "/layouts/_footer.html.haml"
    / JavaScripts
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4&appId=1399677473693497";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    
    = javascript_include_tag "application"
    = javascript_include_tag "bootstrap.min.js"
    = javascript_include_tag "jquery.fancybox.js"
    %script{:src => "http://malsup.github.com/jquery.cycle2.js"}
    = javascript_include_tag "funcoes.js" 
    =# javascript_include_tag "jcycle.js" 
    = yield(:footer)

