!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}  
    %title
      = content_for?(:title) ? t("site_name") + " - " + yield(:title) : t("site_name")
    / Bootstrap
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tag
    = stylesheet_link_tag "bootstrap.min.css"
    = stylesheet_link_tag "font-awesome.min.css"
    = stylesheet_link_tag "application.css"
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>   
  %body
    =yield  
    = javascript_include_tag "application"
    = javascript_include_tag "jquery.cycle.all.js"
    = javascript_include_tag "bootstrap.min.js"
    :javascript
      $(".hashtag").click(function(){
        parent.$("#input_search").val($(this).text()); 
        parent.$("#form-send_search").submit(); 
        parent.$.fancybox.close();
        parent.$(window).scrollTop(parent.$('#div_article_form').offset().top);
      });